In [46]:
import pandas as pnd
import seaborn as sea
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import RegexpTokenizer
from nltk.stem import RSLPStemmer
nltk.download('stopwords')
nltk.download('rslp')
import matplotlib.pyplot as plt
import heapq
import time

dados = pnd.read_csv("results.csv")

documentos = dados['text']
stopwords = stopwords.words("portuguese")

[nltk_data] Downloading package stopwords to C:\Users\Rubens
[nltk_data]     Batista\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package rslp to C:\Users\Rubens
[nltk_data]     Batista\AppData\Roaming\nltk_data...
[nltk_data]   Package rslp is already up-to-date!

### 01) Execute o algoritmo ilustrado na Fig. 5.8 do livro texto (pag. 157) para gerar um índice similar o mostrado na Fig. 5.4 (pag. 134). Guarde o índice em disco em formato csv.

In [47]:
reg_token = RegexpTokenizer(r'\b[A-zÀ-ú\d\-\']+')
lista_invertida = {}
n = 0

for d in documentos:
    n += 1
    tokens = reg_token.tokenize(d.lower())
    for token in set(tokens):
        if ((token not in stopwords) and (len(token) >= 2)):
            contador = (n, tokens.count(token))
            if (token not in lista_invertida.keys()):
                  lista_invertida[token] = []
                  lista_invertida[token].append(contador)
            else:
                  lista_invertida[token].append(contador)

In [48]:
indice_invertido_df = pnd.DataFrame.from_dict(lista_invertida, orient="index")
indice_invertido_df.to_csv('data.csv')
indice_invertido = lista_invertida

### 2 ) Implemente as abordagens de processamento de consulta documento-por-vez e termo-por-vez (Fig. 5.16 e 5.18). (2 pts)

### Dê evidências de que sua implementação está correta

### Document at Time

In [49]:
def document_at_time(query, indice_invertido, k):
    listas_invertidas = []

    r = []
    for word in query.split(" "):
        if word in indice_invertido.keys():
            listas_invertidas.append(indice_invertido[word])
    for documento in range(1, len(documentos)+1):
        sd = 0
        for lista_invertida in listas_invertidas:
            for i in lista_invertida:
                if (i[0] == documento):
                    sd += i[1]
                    break
        if (sd != 0):
          heapq.heappush(r, (sd, documento))
    return heapq.nlargest(k, r)
document_at_time("presidente", indice_invertido, 10)

[(9, 3),
 (6, 41),
 (5, 6),
 (4, 129),
 (4, 98),
 (4, 71),
 (4, 45),
 (4, 37),
 (4, 27),
 (3, 112)]

### Term at time

In [50]:
def term_at_time(query, indice_invertido, k):
    
    a = {}
    listas_invertidas = []
    r = []
    for word in query.split(" "):
        if word in indice_invertido.keys():
            listas_invertidas.append(indice_invertido[word])
    for lista_invertida in listas_invertidas:
        for post in lista_invertida:
            d = post[0]
            frequencia = post[1]
            if (d in a.keys()):
                a[d] += frequencia
            else:
                a[d] = frequencia
    for (d, ad) in a.items():
        sd = ad
        heapq.heappush(r, (sd, d))
    return heapq.nlargest(k, r)
term_at_time("presidente", indice_invertido, 10)

[(9, 3),
 (6, 41),
 (5, 6),
 (4, 129),
 (4, 98),
 (4, 71),
 (4, 45),
 (4, 37),
 (4, 27),
 (3, 112)]

In [51]:
consultas = ["presidente", "governo", "país", "brasil", "anos"]

### Execute as 5 consultas em cada algoritmo retornando os top-10 documentos (parâmetro k do algoritmo)

In [52]:
documentos_resultantes = []
termos_resultantes = []
tempo_documentos_resultantes = []
tempo_termos_resultantes = []
k = 10

for consulta in consultas:
  documento_inicial = time.time()
  documentos_resultantes.append(document_at_time(consulta, indice_invertido, k))
  documento_final = time.time()
  tempo_documentos_resultantes.append(documento_final - documento_inicial)
  
  termo_inicial = time.time()
  termos_resultantes.append(term_at_time(consulta, indice_invertido, k))
  termo_final = time.time()
  tempo_termos_resultantes.append(termo_final - termo_inicial)

queries_df = pnd.DataFrame()
queries_df['consulta'] = consultas
queries_df['document_at_a_time'] = documentos_resultantes
queries_df['term_at_a_time'] = termos_resultantes
queries_df['compare'] = queries_df.document_at_a_time == queries_df.term_at_a_time
queries_df

,consulta,document_at_a_time,term_at_a_time,compare
0,presidente,"[(9, 3), (6, 41), (5, 6), (4, 129), (4, 98), (...","[(9, 3), (6, 41), (5, 6), (4, 129), (4, 98), (...",True
1,governo,"[(8, 124), (7, 69), (6, 46), (5, 1), (4, 75), ...","[(8, 124), (7, 69), (6, 46), (5, 1), (4, 75), ...",True
2,país,"[(6, 41), (4, 48), (4, 45), (4, 30), (3, 104),...","[(6, 41), (4, 48), (4, 45), (4, 30), (3, 104),...",True
3,brasil,"[(10, 30), (9, 41), (7, 48), (7, 36), (5, 27),...","[(10, 30), (9, 41), (7, 48), (7, 36), (5, 27),...",True
4,anos,"[(5, 6), (4, 129), (4, 36), (2, 126), (2, 75),...","[(5, 6), (4, 129), (4, 36), (2, 126), (2, 75),...",True

### Compare os tempos médios de execução e uso de memória de cada algoritmo

In [53]:
queries_tempo_df = pnd.DataFrame()
queries_tempo_df['tempo_médio_document_at_a_time'] = tempo_documentos_resultantes
queries_tempo_df['tempo_médio_term_at_a_time'] = tempo_termos_resultantes
queries_tempo_df

   tempo_médio_document_at_a_time  tempo_médio_term_at_a_time
0                        0.000000                         0.0
1                        0.000000                         0.0
2                        0.000996                         0.0
3                        0.000000                         0.0
4                        0.000000                         0.0

### Implemente uma das versões de consulta conjuntiva (AND)

In [54]:
def document_and(consulta, indice_invertido, k):
  
    indices_consultas = []
    rank = []
  
    for palavra in consulta.split(" "):
        if palavra in indice_invertido.keys():
            indices_consultas.append(indice_invertido[palavra])
  
    all_query = [item for sublist in indices_consultas for item in sublist]
    all_query.sort()
  
    for i in range(len(all_query)):
        doc_score = 0
    d = all_query.pop()
    for index in all_query:
        if index[0] == d[0]:
            doc_score += index[1] + d[1]
        if doc_score != 0:
            heapq.heappush(rank, (doc_score, d[0]))
        
    return heapq.nlargest(k, rank)

In [55]:
queries = ["presidente", "governo", "país", "brasil", "anos"]

In [56]:
documentos_resultantes_and = []
k = 10

for query in queries:
    documentos_resultantes_and.append(document_and(query, indice_invertido, k))


queries_df = pnd.DataFrame()
queries_df['query'] = queries
queries_df['AND'] = documentos_resultantes_and
queries_df

        query AND
0  presidente  []
1     governo  []
2        país  []
3      brasil  []
4        anos  []